@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace, Tahoma, Geneva, Verdana, sans-serif
}

@layer components {

  /* ▼================|| REUSABLE ||================▼  */
  .title-1{
    @apply text-2xl font-semibold mb-2 ;
    
  }
  .btn{
    @apply h-10 px-5 border rounded-md shadow-sm cursor-pointer hover:border-2 transition-all ;
  }

  .btn-outlined{
    @apply  bg-main  text-white flex justify-center items-center;
  }


  /* ▼================|| FORM ||================▼ */
  .form-wrapper{
    @apply w-[30rem] mx-auto shadow-md p-6 border-solid rounded-lg;
  }

  .form-input{
    @apply h-10 px-3 text-base border rounded-md;
  }


  /* ▼================|| BORDERs ||================▼ */
  .border-solid{
    border: 1px solid #ddd;
  }
  /* ▼================|| BUTTONs ||================▼ */

}